* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 5vh;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
    border: 2px solid black;
}
form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
}

.enter-todo {
    display: flex;
    width: 300px;
    height: 5vh;
    margin: 5px 0 5px 5px;
}
.todo-btn {
    height: 5vh;
    margin: 5px 5px 5px 0;
    padding: 2px 5px 5px 5px;
    background: #f7fffe;
    cursor: pointer;
}

.todo-btn:hover {
    background: #ff6f47;
    transition: all 0.3s ease;
}
.plus-icon {
    background-color: #ff6f47;
    color: white;
    font-size: 1rem;
    padding: 3px;
    border-radius: 3px;
}
.plus-icon:hover {
    background-color: white;
    color: #ff6f47;
}