* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 5vh;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
}
form input, form button {
    padding: 10px;
    font-size: 25px;
    border: none;
    background-color: white;
}

.enter-todo {
    display: flex;
    width: 300px;
    height: 36px;
    margin: 5px 5px 5px 5px;
}
.todo-btn {
    height: 36px;
    margin: 5px 5px 5px -5px;
    padding: 1px 5px 5px 5px;
    background: #f7fffe;
    cursor: pointer;
}

.todo-btn:hover {
    background: #ff6f47;
    transition: all 0.3s ease;
}
.plus-icon {
    background-color: #ff6f47;
    color: white;
    font-size: 17px;
    padding: 3px;
    border-radius: 3px;
}
.plus-icon:hover {
    background-color: white;
    color: #ff6f47;
}
.filter-todo {
    padding: 5px;
    height: 36px;
    margin: 5px;
    border: none;
    font-size: 15px;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}
.todo-item{
    display: flex;
    background: white;
    min-width: 30vh;
    list-style: none;
    padding:0.3rem;
    flex-wrap: wrap;
}
.todo li {
    flex: 1;
}
.complete-btn, .trash-btn {
    border: none;
    height: 36px;
    margin: 5px 5px 5px -5px;
    padding: 0.6rem;
    cursor: pointer;
    color: white;
}
.complete-btn {
    background: rgb(11, 212, 162);
}
.trash-btn {
    background: #ff6f47;
}